body{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}


.userList{
  border: 1px solid grey;
  height: 50px;
  box-shadow: 0 0 3px 0px grey;
  margin: 10px auto;
  padding: 10px;
  max-width: 300px;
  min-width: 300px;
}
.username{
  text-align: center
}


.container{
  width: 90%;
  margin: auto;
}

.app_title{
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #42c700;
  font-size: 44px;
  text-shadow: 0px 3px 3px #029602;
}

.blur{
  filter: blur(4px)
}